version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: demo_backend
    ports:
      - "8000:8000"
    volumes:
      - ../models:/models
    environment:
      - MODEL_PATH=../../models/svc_pipeline.pkl
    networks:
      - demo-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: demo_frontend
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge
